API_BASE_URL=http://localhost:9001
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY_LIVE=
NITRIC_AUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
GITHUB_ID=
GITHUB_SECRET=